/*
* Progenitor visual appearence styles
* This file provides the visual style, colours, backgrounds etc.
* This file may be overriden in a child theme using the same name and
* your own styles added.
*/

@import "_progenitor-variables";
@import "variables-site/_variables-site";
@import "_progenitor-mixins";
@import "mixins/_mixin-background-gradient";


/*====================================================
1. classed & grouped colours
======================================================*/

.primary-color {
	@include background-gradient-3d($color: $color__main-nav);
}

// links - dark backgrounds

.footer-widgets-wrap {

	a {
		color: $color__link_darkbackground;

		&:focus,
		&:hover {
			color: darken($color__link_darkbackground, 10%);
		}

		&:visted {
			color: $color__link_darkbackground-visited;
		}
	}

}

/*====================================================
2. Header elements
======================================================*/

.site-header {
	background: $off-white;
}

.meta-bar {
	background: $black;
	color: $white;
}

.meta-bar {
	text-align: center;
	padding-right: 0.5em;
}

/*====================================================
3. Navigation - global & specific
======================================================*/

.main-navigation {

	a {
		color: $color__nav-text;
		opacity: 0.8;

		&:focus,
		&:hover {
			opacity: 1;
		}

		&:visited {
			color: $color__main-nav-visted;
		}
	}
}

/*========================================
3.1 static horizontal primary navigation
==========================================*/

.site-nav-horizontal {

	.main-navigation {

		.nav-menu	> li {
			border-right: 1px solid darken($color__main-nav, 15%);
			border-left: 1px solid lighten($color__main-nav, 5%);
			margin-right: 0;


			&:first-child > a {
				padding-left: 0;
			}

			&:first-child {
				border-left: 0;
			}

			&:last-child {
				border-right: 0;
			}

			&.current-menu-item > a {

				@include background-gradient-3d($color: darken( $color__main-nav, 10%) );
			}

			> a {
					padding: 5px 10px;
			}

		}

		ul {

			ul {

				a:link,
				a:visited {
					color: $color__text-main;
				}

				li:focus,
				li:hover {

					@include background-gradient-3d($color: $color__main-nav);

					a {
						color: $color__white;
					}
				}
			}
		}
	}
}
/*========================================
3.3 Floating horizontal primary navigation
==========================================*/

/*========================================
3.4 Vertical primary navigation
==========================================*/

/*========================================
4. Footer Widgets
==========================================*/

.footer-widgets-wrap {
	@include background-gradient-3d($color: #555, $depth: high );
	border-bottom: 1px solid #333;
	border-top: 1px solid #333;

	.widget-area {

		@include background-gradient-3d($color: #666, $depth: high );
		border: 1px solid $bp-border-dark;

		.widget {

			.widgettitle {
				color: $light-grey;
			}
		}
	}
}

/*========================================
5. Site Footer
==========================================*/

.site-footer {
	background: $black;
}

.site-footer {

		color: $off-white;

		a {
			opacity: 0.8;
		}

		a:visited,
		a:hover,
		a:focus {
			color: $off-white;
			opacity: 1;
		}
}
