/*
* Progenitor visual appearence styles
* This file provides the visual style, colours, backgrounds etc.
* This file may be overriden in a child theme using the same name and
* your own styles added.
*/

@import "_progenitor-variables";
@import "variables-site/_variables-site";
@import "_progenitor-mixins";
@import "mixins/_mixin-background-gradient";
@import "font-awesome/_variables";
@import "font-awesome/_mixins";


/*====================================================
1. classed, grouped, & container colours
======================================================*/

.primary-color,
.bp-navs {

	@include background-gradient-3d($color: $color__main-nav);
}

// Describe a gradient background for the user/group object nav
// if its in vertical rendering to create column illusion.
// Run on the background wrapper element & restricted to a equal width
// of the nav, similar to old school faux columns.
@include medium-up() {

	.bp-single-vert-nav {

		.bp-wrap {

			@include background-gradient-3d-hori($color: $color__main-nav, $width: "25%");
		}
	}
}

// links - dark backgrounds

.footer-widgets-wrap {

	a {
		color: $color__link_darkbackground;

		&:focus,
		&:hover {
			color: darken($color__link_darkbackground, 10%);
		}

		&:visited {
//			color: $color__link_darkbackground-visited;
		}
	}

}

// Generic buttons styling
.bp-progenitor {

	ul {

		li.generic-button {

			@include box-shadow(0 0 9px 0 $light-box-shadow);
		}
	}

	ul.bp-list.grid {

		li.generic-button {

			@include box-shadow-none();
		}
	}

	.button,
	.bp-submit {
		@include background-gradient-3d($color: $white, $depth: low);

		&:focus,
		&:hover {

			@include background-gradient-3d($color: $white, $depth: medium);
			@include box-shadow(0 0 1px 0 $light-box-shadow);
//				color: $white;
		}
	}
}

.avatar {
	@include box-shadow(0 0 9px 0 $light-box-shadow);
}

.footer-widgets-wrap {
	.avatar {
		border: 1px solid $med-light-grey;

		@include box-shadow(0 0 5px 0 $dark-grey)
	}
}
#item-header-cover-image {
	.avatar {
		@include box-shadow(0 0 5px 0 $dark-grey );
	}
}
/*====================================================
2. Header elements
======================================================*/

.site-header {
//	background: $off-white;
@include background-gradient-3d-hori($color: $color__main-nav, $depth: med);
}

.meta-bar {
	background: $black;
	color: $white;
}

.meta-bar {
	text-align: center;
	padding-right: 0.5em;
}

/*====================================================
3. Navigation - global & specific
======================================================*/

.main-navigation {

	a {
		color: $color__nav-text;
		opacity: 0.8;

		&:focus,
		&:hover {
			opacity: 1;
		}

		&:visited {
			color: $color__main-nav-visted;
		}
	}
}

.main-navigation {

	// Icon arrows for li items with child links (flyouts)
	// See vert & hori blocks below for padding & content properties.
	li.menu-item-has-children {

		> a:after {

			@include fa-icon();
		}
	}
}


/*========================================
3.1 Static horizontal primary navigation
==========================================*/

.site-nav-horizontal {

	.main-navigation {

		.nav-menu > li {
			border-right: 1px solid darken($color__main-nav, 15%);
			border-left: 1px solid lighten($color__main-nav, 5%);
			margin-right: 0;


			&:first-child > a {
				padding-left: 0;
			}

			&:first-child {
				border-left: 0;
			}

			&:last-child {
				border-right: 0;
			}

			&.current-menu-item > a {

				@include background-gradient-3d($color: darken( $color__main-nav, 10%) );
			}

			> a {
				padding: 5px 10px;
			}

		}

		// Icon arrows positioning for flyout child link parents
		li.menu-item-has-children {

			> a:after {
				content: " \f0d7";
				padding-left: 4px;
			}

			> a:hover:after {
				content: " \f0d8";
			}
		}

		li.active.menu-item-has-children {

			> a:after {
				content: " \f0d8";
			}
		}

		ul {

			ul {

				a:link,
				a:visited {
					color: $color__text-main;
				}

				li:focus,
				li:hover {

					@include background-gradient-3d($color: $color__main-nav);

					> a {
						color: $color__white;
					}
				}
			}
		}
	}
}

/*========================================
3.3 Floating horizontal primary navigation
==========================================*/

/*========================================
3.4 Vertical primary navigation
==========================================*/

.site-nav-vertical {

	.main-navigation {

		.nav-menu {

			> li {

				> a {

					@include background-gradient-3d-hori($color: $color__main-nav);
				}
			}
		}

		li {
			border-bottom: 1px solid lighten($color__main-nav, 2%);

			&:last-child {
				border-bottom: 0;
			}
		}

		// Icon arrows positioning for flyout child link parents
		li.menu-item-has-children {

			> a:after {
				content: " \f0da";
				padding-left: 10px;
			}

			> a:hover:after {
				content: " \f0d7";
			}
		}

		li.active.menu-item-has-children {

			> a:after {
				content: " \f0d7";
			}
		}

		li.current_page_item {

			> a {

				@include background-gradient-3d-hori($color: darken($color__main-nav, 5%), $depth: high);
			}
		}

		li:focus,
		li:hover,
		li.active.menu-item-has-children {

			> a {

				@include background-gradient-3d($color: lighten($color__main-nav, 5%));
				color: $color__white;
			}
		}
	}

}

/*========================================
3.5 BP navigation
==========================================*/

// Small device menu styling.
// dir navs set as horizontal adjustments for
// narrow widths.

.buddypress-wrap {


	.bp-navs:not(.tabbed-links) {

		> ul > li {

			border-right: 1px solid darken($color__main-nav, 15%);
			border-left: 1px solid lighten($color__main-nav, 5%);
			margin-right: 0;


			&:first-child > a {
//				padding-left: 0;
			}

			&:first-child {
				border-left: 0;
			}

			&:last-child {
				border-right: 0;
			}
		}

		li {
			border-radius: 0;
		}
	}
}

.buddypress-wrap:not(.bp-single-vert-nav) {

	@include medium-max {

		.bp-navs {

			li {
				border-bottom: 1px solid darken($color__main-nav, 15%);

				&:last-child {
					border-bottom: 0;
				}
			}
		}
	}
}

.users-nav {

	#compose-personal-li {

		a {
			color: $black;
		}
	}
}

.site-nav-horizontal,
.site-nav-vertical { // @todo both these aren't required, check if a parent class needed

	.buddypress-wrap {

		.bp-navs:not(.tabbed-links) {
			margin-bottom: 0;

			li {

				a:not(#compose) {
					color: $white;
					opacity: 0.9;

					&:focus,
					&:hover {

						@include background-gradient-3d($color: lighten( $color__main-nav, 10%) );
						color: $white;
						opacity: 1;
					}
				} // close a

				// Adjust span item numbers.
				&.selected a,
				a {

					span {
						background: darken($color__main-nav, 20%);
						border: none;
						color: lighten($color__main-nav, 50%);
					}
				}

				a#compose {

					@include background-gradient-3d($color: $color__main-nav);
					border: none;
					color: $color-secondary-2-0;
				}
			} // close li

			li.selected {

				a,
				a:focus,
				a:hover {

					@include background-gradient-3d($color: darken( $color__main-nav, 10%) );
					color: $color-secondary-1-4;
					opacity: 1;
				}
			}
		} // close .bp-navs:not(.tabbed-links)

		.bp-navs.single-screen-navs,
		.bp-subnavs {

			> ul > li:first-child {

				a {
					padding-left: $pad-sml;
				}
			}
		}

		// BP user & group navs set as verticle while main site menu
		// is horizontal - main user/group object navs.
		.bp-navs.vertical {

			ul {

				li {
					border: 0;
					border-bottom: 1px solid lighten($color__main-nav, 2%);

					@include medium-up {
						border-bottom: 1px solid darken($color__main-nav, 10%);
					}

					a {

						@include background-gradient-3d-hori($color: $color__main-nav )
							opacity: 0.9;
					}
				}

				.selected {

					a {

						@include background-gradient-3d($color: lighten( $color__main-nav, 10%) );
					}
				}
			}
		} // close .bp-navs.vertical

		// Single screens .bp-subnavs in a vertical bp main nav layout
		// where tabbed effect not selected.
		&.bp-single-vert-nav {

			.item-body:not(#group-create-body) {

				#subnav:not(.tabbed-links) {

					@include background-gradient-3d-hori($color: $color__main-nav );
					margin-left: 0;

					li.selected {

						a {
							color: $color-secondary-2-0;
						}
					}
				}
			}
		}

		// Remove the item link seperator & manage highlight
		// styles for tabs.
		@include medium-up {

			#subnav.tabbed-links {

				li:not(.selected) {
					border: 0;

					a {
						color: $light-text;
					}
				}

				li.selected {

					a {
						color: $black;
					}
				}
			}
		}

		// style the screen subnav up to medium-max for highlight/selected
		// tabbed effect style will override these more generic ones.
		@include medium-max() {

			#subnav {

				li {

					a {
						color: $white;
						opacity: 0.9;
					}
				}

				li.selected {

					a,
					a:focus,
					a:hover {

						@include background-gradient-3d($color: lighten( $color__main-nav, 10%) );
						opacity: 1;
					}
				}
			}
		}


	} // close buddypress-wrap
} // close site-nav-horizontal

/*========================================
4. Footer Widgets
==========================================*/

.footer-widgets-wrap {

	@include background-gradient-3d($color: #555, $depth: high );
	border-bottom: 1px solid #333;
	border-top: 1px solid #333;

	.widget-area {

		@include background-gradient-3d($color: #666, $depth: high );
		border: 1px solid $color__black;

		.widget {

			.widgettitle {
				color: $light-grey;
			}

			li,
			p {
				color: $off-white;
			}
		}
	}
}

/*========================================
5. Site Footer
==========================================*/

.site-footer {
	background: darken($color__black, 10%);
}

.site-footer {

	color: $off-white;

	a {
		color: $color__link_darkbackground;
		opacity: 0.8;
	}

	a:visited,
	a:hover,
	a:focus {

		opacity: 0.9;
	}
}

/*==========================================
6. Elements - modules, lists, boxes etc
===========================================*/

// Activity list panel: full loop widget

.bp-latest-activities.buddypress {
	background: $off-white;
	border: 1px solid $bp-border-color;
	padding: 0 $pad-med $pad-med;

	.widget-title {
		margin: $pad-sml 0;
	}

	.activity-list.bp-list {
		background: none;
		border: 0;
		margin-bottom: 0;
		padding: 0;

		li:last-child {
			margin-bottom: 0;
		}
	}
}
