/*
* Progenitor visual appearence styles
* This file provides the visual style, colours, backgrounds etc.
* This file may be overriden in a child theme using the same name and
* your own styles added.
*/

@import "_progenitor-variables";
@import "variables-site/_variables-site";
@import "_progenitor-mixins";



/*====================================================
1. Header elements
======================================================*/
.site-header {
	background: $off-white;
}

.meta-bar {
	background: $black;
	color: $white;
}

.meta-bar {
	text-align: center;
	padding-right: 0.5em;
}

/*====================================================
2. Navigation - global & specific
======================================================*/
.main-navigation {

	a {
		color: $color__nav-text;
		opacity: 0.8;

		&:focus,
		&:hover {
			opacity: 1;
		}

		&:visited {
			color: $color__main-nav-visted;
		}
	}
}

/*========================================
2.1 static horizontal primary navigation
==========================================*/
.main-navigation {
	background: $color__main-nav;

	ul {

		ul {

			a:link,
			a:visited {
				color: $color__text-main;
			}

			li:focus,
			li:hover {
				background: $color__main-nav;

				a {
					color: $color__white;
				}
			}
		}
	}
}

/*========================================
2.3 Floating horizontal primary navigation
==========================================*/

/*========================================
2.3 Vertical primary navigation
==========================================*/


