/*
* Progenitor visual appearence styles
* This file provides the visual style, colours, backgrounds etc.
* This file may be overriden in a child theme using the same name and
* your own styles added.
*/

@import "_progenitor-variables";
@import "variables-site/_variables-site";
@import "_progenitor-mixins";
@import "mixins/_mixin-background-gradient";


/*====================================================
1. classed & grouped colours
======================================================*/

.primary-color,
.bp-navs {

	@include background-gradient-3d($color: $color__main-nav);
}

// links - dark backgrounds

.footer-widgets-wrap {

	a {
		color: $color__link_darkbackground;

		&:focus,
		&:hover {
			color: darken($color__link_darkbackground, 10%);
		}

		&:visted {
			color: $color__link_darkbackground-visited;
		}
	}

}

/*====================================================
2. Header elements
======================================================*/

.site-header {
	background: $off-white;
}

.meta-bar {
	background: $black;
	color: $white;
}

.meta-bar {
	text-align: center;
	padding-right: 0.5em;
}

/*====================================================
3. Navigation - global & specific
======================================================*/

.main-navigation {

	a {
		color: $color__nav-text;
		opacity: 0.8;

		&:focus,
		&:hover {
			opacity: 1;
		}

		&:visited {
			color: $color__main-nav-visted;
		}
	}
}

.site-nav-horizontal {

	.buddypress-wrap {

		.bp-navs {
			margin-bottom: 0;

			li {

				a:not(#compose) {
					color: $white;
					opacity: 0.9;

					&:focus,
					&:hover {

						@include background-gradient-3d($color: lighten( $color__main-nav, 10%) );
						color: $white;
						opacity: 1;
					}
				}

				&.selected a,
				a {

					span {
						background: darken( $color__main-nav, 20%);
						border: none;
						color: lighten( $color__main-nav, 50%);
					}
				}

				a#compose {

					@include background-gradient-3d($color: $color__main-nav);
					border: none;
					color: $color-secondary-2-0;
				}
			}

			li.selected {

				a {

					@include background-gradient-3d($color: darken( $color__main-nav, 10%) );
					color: $color-secondary-1-4;
					opacity: 1;
				}
			}
		}

		.bp-navs.single-screen-navs,
		.bp-subnavs {

			> ul > li:first-child {
				a {padding-left: $pad-sml; }
			}

			// BP user & group navs set as verticle while main site menu
			// as horizontal.
		}

		.bp-navs.vertical {
			ul {

				li {
					border: 0;
					border-bottom: 1px solid $black;
					a {

						@include background-gradient-3d-hori($color: $color__main-nav )
						opacity: 0.9;
					}
				}
			}
		}

	}
}

// Small device menu styling.
// Not vertical menu display.
.buddypress-wrap:not(.bp-single-vert-nav) {

	@include medium-max {

		.bp-navs {

			li {
				border-bottom: 1px solid darken( $color__main-nav, 15%);

				&:last-child {
					border-bottom: 0;
				}
			}
		}
	}
}

/*========================================
3.1 static horizontal primary navigation
==========================================*/

.site-nav-horizontal {

	.bp-navs {

		> ul > li {

			border-right: 1px solid darken($color__main-nav, 15%);
			border-left: 1px solid lighten($color__main-nav, 5%);
			margin-right: 0;


			&:first-child > a {
//				padding-left: 0;
			}

			&:first-child {
				border-left: 0;
			}

			&:last-child {
				border-right: 0;
			}
		}
	}

	.main-navigation {

		.nav-menu	> li {
			border-right: 1px solid darken($color__main-nav, 15%);
			border-left: 1px solid lighten($color__main-nav, 5%);
			margin-right: 0;


			&:first-child > a {
				padding-left: 0;
			}

			&:first-child {
				border-left: 0;
			}

			&:last-child {
				border-right: 0;
			}

			&.current-menu-item > a {

				@include background-gradient-3d($color: darken( $color__main-nav, 10%) );
			}

			> a {
					padding: 5px 10px;
			}

		}

		ul {

			ul {

				a:link,
				a:visited {
					color: $color__text-main;
				}

				li:focus,
				li:hover {

					@include background-gradient-3d($color: $color__main-nav);

					a {
						color: $color__white;
					}
				}
			}
		}
	}
}

.users-nav {

	#compose-personal-li {

		a {
			color: $black;
		}
	}
}
/*========================================
3.3 Floating horizontal primary navigation
==========================================*/

/*========================================
3.4 Vertical primary navigation
==========================================*/

/*========================================
4. Footer Widgets
==========================================*/

.footer-widgets-wrap {
	@include background-gradient-3d($color: #555, $depth: high );
	border-bottom: 1px solid #333;
	border-top: 1px solid #333;

	.widget-area {

		@include background-gradient-3d($color: #666, $depth: high );
		border: 1px solid $color__black;

		.widget {

			.widgettitle {
				color: $light-grey;
			}

			li {
				color: $off-white;
			}
		}
	}
}

/*========================================
5. Site Footer
==========================================*/

.site-footer {
	background: darken($color__black, 10%);
}

.site-footer {

		color: $off-white;

		a {
			color: $color__link_darkbackground;
			opacity: 0.8;
		}

		a:visited,
		a:hover,
		a:focus {

			opacity: 0.9;
		}
}
