// BP Buttons, Submits, Icons and general clicky things styling.

// Buttons by default are styled as simple boxes but we may
// change that by adding a parent class ( on any close parent to
// the element ) .text-link-list

.buddypress-wrap {

	// In grids style the basic action button a little differently

	.bp-list.grid {

		.action {

			a,
			button {
				border: 1px solid $bp-border-dark;
				display: block;
				margin: 0;

				&:focus,
				&:hover {
					background: $buttons-background;
				}
			}
		} // .action
	}

	.activity-list {

		a.button {
			border: none;
		}
	}

	.bp-invites-content {

		ul.bp-list {

			li {

				a.invite-button:hover {
					color: #1fb3dd;
				}
			}

			li.selected,
			li {

				a.invite-button:hover,
				a.group-remove-invite-button:hover {
					color: #a00;
				}
			}
		}
	}

	#item-buttons:empty {
		display: none;
	}

	// Reduce padding for messages screens compose button
	// to prevent border clipping in tab visual layout
	li.last a#compose {
		padding: 2px 8px;
	}

	// The group or site create link as either a button or plain link.
	// @todo this will need further classes & styles depending on nav layouts?
	// The class 'create-button' will be hardcoded for the moment on the li
	// this could be a user selected choice to style as a button though?

	.create-button { // the parent, i.e li element.
		background: none;

		@include medium-up {
			float: right;
		}
		//padding-top: $pad-med;
		text-align: center;

		a {
			border: 1px solid $bp-border-dark;

			@include border-radius(5px);
			@include box-shadow(inset 0 0 6px 0 $light-grey);
			margin: 0.2em 0;
			width: auto;

			&:focus,
			&:hover {
				background: none;
				border-color: $bp-border-dark;

				@include box-shadow(inset 0 0 12px 0 $light-grey );
			}
		}

	} // .create-button

	&.bp-dir-vert-nav {

		@include medium-up {

			.create-button {
				float: none;
				padding-top: $pad-lrg;


				a {
					margin-right: 0.5em;
				}
			}
		}
	}
} // close  .buddypress-wrap @todo

// ==== Icons ====

.buddypress-wrap {

	// buttons that are visually rendering as icons only won't
	// want the general button styles.
	// We'll use a class hook to identify those elements.
	button {

		&.bp-icons,
		&.ac-reply-cancel {

			background: none;
			border: 0;
		}

		&.bp-icons {

			&:focus,
			&:hover {
				background: none;
			}
		}

		&.ac-reply-cancel {

			&:focus,
			&:hover {
				background: none;
				text-decoration: underline;
			}
		}
	}

	.filter label:before,
	.feed a:before,
	.bp-invites-filters  .invite-button span.icons:before,
	.bp-messages-filters li a.messages-button:before,
	.bp-invites-content li .invite-button span.icons:before {
		font-family: dashicons;
		font-size: 18px;
	}

	.bp-invites-content .item-list li .invite-button span.icons:before {

		@include responsive-font(32);
	}

	// If icons are required for anchors e.g '<a class="button"'
	// then we may have .button background hovers being inherited
	// Use this grouped selector ruleset to add elements that need
	// no change. As we need weight this is specific to bp-lists

	// This is probably a less than optimal solution & a better one will exist to
	// implemented when time allows.
	.bp-list {

		a.button.invite-button {

			&:focus,
			&:hover {
				background: none;
			}
		}
	}

	.filter label:before {
		content: "\f536";
	}

	div.feed a:before {
		content: "\f303";
	}

	ul.item-list {

		li {

			.invite-button:not(.group-remove-invite-button) {

				span.icons:before {
					content: "\f502";
				}
			}
		}

		li.selected .invite-button,
		li .group-remove-invite-button {

			span.icons:before {
				content: "\f153";
			}
		}
	} // close ul.item-list

	.bp-invites-filters ul li #bp-invites-next-page:before,
	.bp-messages-filters ul li #bp-messages-next-page:before {
		content: "\f345";
	}

	.bp-invites-filters ul li #bp-invites-prev-page:before,
	.bp-messages-filters ul li #bp-messages-prev-page:before {
		content: "\f341";
	}
} // close .buddypress-wrap
