// BP User settings screens


// 1. Settings Global
// 1. General (email/password change)
// 2. Email notifications
// 3. Profile visibility
// 4. group Invites

// Settings Global

/*__ Settings Global __*/

// required extra specificity to override later table settings
.buddypress.settings {

	.profile-settings.bp-tables-user {

		select {
			width: 100%;
		}
	}

}


// General


// Email notifications


.notification-settings { // table element

	tbody {

		tr {
			border: 1px solid $bp-border-color;
			border-left: 0;
			border-right: 0;
		}
	}
}

// Profile visibility



// Group Invites


