// BP Single Screens Item Header General Styles.

@include clearfix-element(".single-headers");

.single-headers {
	margin-bottom: $marg-med;

	// Breakpoint element positioning

	#item-header-avatar { // todo: this ought to be a class!

		a {
			display: block;
			text-align: center;

			img {
				float: none;
			}
		}
	}

	div#item-header-content {
		float: none;
	}

	@include medium-up() {

		#item-header-avatar { // todo: this ought to be a class!

			a {
				text-align: left;

				img {
					float: left;
				}
			}
		}
	}

	// End breakpoint positioning

	.group-status,
	.activity {
		display: inline;
	}

	.group-status {

		@include font-size(18);
		color: $black;
		padding-right: $pad-med;
	}

	.activity {
		display: inline-block;

		@include font-size(12);
		padding: 0;
	}

	div#message,
	#sitewide-notice {

		p {
			background-color: #ffd;
			border: 1px solid #cb2;
			color: #440;
			font-weight: 400;
			margin-top: 3px;
			text-decoration: none;
		}
	}

	img.avatar {
		float: left;
		margin: 0 15px 19px 0;
	}

	.item-meta {
		color: $light-text;

		@include font-size(14);
		margin: $marg-med 0 $marg-xsml;
		padding-bottom: $pad-sml;
	}

	ul {
		margin-bottom: $marg-med;

		li {
			float: right;
			list-style: none;
		}
	}

	// The action buttons
	.action {

		clear: both;
		margin: 2px 0 0;
		padding: 0;

		div.generic-button,
		li.generic-button {
			border-radius: 0;
			text-align: center;
		}

			a,
			button {
				border-radius: 0;
				display: inline-block;

				@include font-size(14);
				line-height: 1;
				margin: 0 0 $marg-xsml;
				padding: 5px;
				width: 100%;
			}

		@include small-up() {

			div.generic-button,
			li.generic-button {
				margin-right: $marg-xsml;
				text-align: left;
			}

			.generic-button,
			a.button,
			button,
			a {
				display: inline-block;
				width: auto;
			}
		}

	//	div.generic-button,
	//	a.button {
	//		margin: $marg-sml $marg-sml 0 0;
	//	}

		// if these are list constructs
		li.generic-button {
			margin: 2px 10px;
		}

		li.generic-button:first-child {
			margin-left: 0;
		}

		div#message.info {
			line-height: 0.8;
		}
	} // close action buttons
} // close .single-headers

body.no-js  .single-item-header .js-self-profile-button {
	display: none;
}

/*
 Member account action buttons
	*/


