// BP Single Screens Item Body General Styles.

.buddypress-wrap {

	.item-body {
		margin: $marg-lrg 0;

		.screen-heading {

			@include font-size(20);

			font-weight: 400;
		}

		.button-tabs {
			margin: $marg-xlrg 0 $marg-med;
		}

	}
}
