/*
* Progenitor visual appearence styles
* This file provides the visual style, colours, backgrounds etc.
* This file may be overriden in a child theme using the same name and
* your own styles added.
*/
/*====================================================
1. classed, grouped, & container colours
======================================================*/
.primary-color,
.bp-navs {
	background: #3D629C;
	background: -moz-linear-gradient(top, #3D629C 0%, #2f4b77 100%);
	background: -webkit-linear-gradient(top, #3D629C 0%, #2f4b77 100%);
	background: linear-gradient(to bottom, #3D629C 0%, #2f4b77 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3D629C', endColorstr='#2f4b77',GradientType=0 );
}

@media screen and (min-width: 46.8em) {
	.bp-single-vert-nav .bp-wrap {
		background: #3D629C;
		background: -moz-linear-gradient(left, #3D629C 0%, #2f4b77 25%);
		background: -webkit-linear-gradient(left, #3D629C 0%, #2f4b77 25%);
		background: linear-gradient(to right, #3D629C 0%, #2f4b77 25% 25%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3D629C', endColorstr='#2f4b77',GradientType=1 );
	}
}

.footer-widgets-wrap a {
	color: #f6e7aa;
}

.footer-widgets-wrap a:focus, .footer-widgets-wrap a:hover {
	color: #f1da7c;
}

.footer-widgets-wrap a:visted {
	color: #ccc;
}

/*====================================================
2. Header elements
======================================================*/
.site-header {
	background: #fafafa;
}

.meta-bar {
	background: #333;
	color: #fff;
}

.meta-bar {
	text-align: center;
	padding-right: 0.5em;
}

/*====================================================
3. Navigation - global & specific
======================================================*/
.main-navigation a {
	color: #fff;
	opacity: 0.8;
}

.main-navigation a:focus, .main-navigation a:hover {
	opacity: 1;
}

.main-navigation a:visited {
	color: #fff;
}

/*========================================
3.1 static horizontal primary navigation
==========================================*/
.site-nav-horizontal .bp-navs > ul > li {
	border-right: 1px solid #273f65;
	border-left: 1px solid #446eae;
	margin-right: 0;
}

.site-nav-horizontal .bp-navs > ul > li:first-child > a {
	padding-left: 0;
}

.site-nav-horizontal .bp-navs > ul > li:first-child {
	border-left: 0;
}

.site-nav-horizontal .bp-navs > ul > li:last-child {
	border-right: 0;
}

.site-nav-horizontal .main-navigation .nav-menu > li {
	border-right: 1px solid #273f65;
	border-left: 1px solid #446eae;
	margin-right: 0;
}

.site-nav-horizontal .main-navigation .nav-menu > li:first-child > a {
	padding-left: 0;
}

.site-nav-horizontal .main-navigation .nav-menu > li:first-child {
	border-left: 0;
}

.site-nav-horizontal .main-navigation .nav-menu > li:last-child {
	border-right: 0;
}

.site-nav-horizontal .main-navigation .nav-menu > li.current-menu-item > a {
	background: #2f4b77;
	background: -moz-linear-gradient(top, #2f4b77 0%, #203453 100%);
	background: -webkit-linear-gradient(top, #2f4b77 0%, #203453 100%);
	background: linear-gradient(to bottom, #2f4b77 0%, #203453 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f4b77', endColorstr='#203453',GradientType=0 );
}

.site-nav-horizontal .main-navigation .nav-menu > li > a {
	padding: 5px 10px;
}

.site-nav-horizontal .main-navigation ul ul a:link,
.site-nav-horizontal .main-navigation ul ul a:visited {
	color: #404040;
}

.site-nav-horizontal .main-navigation ul ul li:focus,
.site-nav-horizontal .main-navigation ul ul li:hover {
	background: #3D629C;
	background: -moz-linear-gradient(top, #3D629C 0%, #2f4b77 100%);
	background: -webkit-linear-gradient(top, #3D629C 0%, #2f4b77 100%);
	background: linear-gradient(to bottom, #3D629C 0%, #2f4b77 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3D629C', endColorstr='#2f4b77',GradientType=0 );
}

.site-nav-horizontal .main-navigation ul ul li:focus a,
.site-nav-horizontal .main-navigation ul ul li:hover a {
	color: #fff;
}

/*========================================
3.3 Floating horizontal primary navigation
==========================================*/
/*========================================
3.4 Vertical primary navigation
==========================================*/
.site-nav-vertical .main-navigation .nav-menu > li > a {
	background: #3D629C;
	background: -moz-linear-gradient(left, #3D629C 0%, #2f4b77 100%);
	background: -webkit-linear-gradient(left, #3D629C 0%, #2f4b77 100%);
	background: linear-gradient(to right, #3D629C 0%, #2f4b77 100% 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3D629C', endColorstr='#2f4b77',GradientType=1 );
}

.site-nav-vertical .main-navigation li {
	border-bottom: 1px solid #4067a3;
}

.site-nav-vertical .main-navigation li:last-child {
	border-bottom: 0;
}

.site-nav-vertical .main-navigation li.menu-item-has-children > a:after {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: " \f0da";
	padding-left: 10px;
}

.site-nav-vertical .main-navigation li.menu-item-has-children > a:hover:after {
	content: " \f0d7";
}

.site-nav-vertical .main-navigation li.current_page_item > a {
	background: #36568a;
	background: -moz-linear-gradient(left, #36568a 0%, #192840 100%);
	background: -webkit-linear-gradient(left, #36568a 0%, #192840 100%);
	background: linear-gradient(to right, #36568a 0%, #192840 100% 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#36568a', endColorstr='#192840',GradientType=1 );
}

.site-nav-vertical .main-navigation li:focus > a,
.site-nav-vertical .main-navigation li:hover > a {
	background: #446eae;
	background: -moz-linear-gradient(top, #446eae 0%, #36568a 100%);
	background: -webkit-linear-gradient(top, #446eae 0%, #36568a 100%);
	background: linear-gradient(to bottom, #446eae 0%, #36568a 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#446eae', endColorstr='#36568a',GradientType=0 );
	color: #fff;
}

/*========================================
3.5 BP navigation
==========================================*/
.buddypress-wrap .bp-navs li {
	border-radius: 0;
}

@media screen and (max-width: 46.8em) {
	.buddypress-wrap:not(.bp-single-vert-nav) .bp-navs li {
		border-bottom: 1px solid #273f65;
	}
	.buddypress-wrap:not(.bp-single-vert-nav) .bp-navs li:last-child {
		border-bottom: 0;
	}
}

.users-nav #compose-personal-li a {
	color: #333;
}

.site-nav-horizontal .buddypress-wrap .bp-navs:not(.tabbed-links) {
	margin-bottom: 0;
}

.site-nav-horizontal .buddypress-wrap .bp-navs:not(.tabbed-links) li a:not(#compose) {
	color: #fff;
	opacity: 0.9;
}

.site-nav-horizontal .buddypress-wrap .bp-navs:not(.tabbed-links) li a:not(#compose):focus, .site-nav-horizontal .buddypress-wrap .bp-navs:not(.tabbed-links) li a:not(#compose):hover {
	background: #517abb;
	background: -moz-linear-gradient(top, #517abb 0%, #3d629c 100%);
	background: -webkit-linear-gradient(top, #517abb 0%, #3d629c 100%);
	background: linear-gradient(to bottom, #517abb 0%, #3d629c 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#517abb', endColorstr='#3d629c',GradientType=0 );
	color: #fff;
	opacity: 1;
}

.site-nav-horizontal .buddypress-wrap .bp-navs:not(.tabbed-links) li.selected a span,
.site-nav-horizontal .buddypress-wrap .bp-navs:not(.tabbed-links) li a span {
	background: #203453;
	border: none;
	color: #e4eaf4;
}

.site-nav-horizontal .buddypress-wrap .bp-navs:not(.tabbed-links) li a#compose {
	background: #3D629C;
	background: -moz-linear-gradient(top, #3D629C 0%, #2f4b77 100%);
	background: -webkit-linear-gradient(top, #3D629C 0%, #2f4b77 100%);
	background: linear-gradient(to bottom, #3D629C 0%, #2f4b77 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3D629C', endColorstr='#2f4b77',GradientType=0 );
	border: none;
	color: #FF9751;
}

.site-nav-horizontal .buddypress-wrap .bp-navs:not(.tabbed-links) li.selected a {
	background: #2f4b77;
	background: -moz-linear-gradient(top, #2f4b77 0%, #203453 100%);
	background: -webkit-linear-gradient(top, #2f4b77 0%, #203453 100%);
	background: linear-gradient(to bottom, #2f4b77 0%, #203453 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f4b77', endColorstr='#203453',GradientType=0 );
	color: #ECCD4E;
	opacity: 1;
}

.site-nav-horizontal .buddypress-wrap .bp-navs.single-screen-navs > ul > li:first-child a,
.site-nav-horizontal .buddypress-wrap .bp-subnavs > ul > li:first-child a {
	padding-left: 0.5em;
}

.site-nav-horizontal .buddypress-wrap .bp-navs.vertical ul li {
	border: 0;
	border-bottom: 1px solid #4067a3;
}

@media screen and (min-width: 46.8em) {
	.site-nav-horizontal .buddypress-wrap .bp-navs.vertical ul li {
		border-bottom: 1px solid #2f4b77;
	}
}

.site-nav-horizontal .buddypress-wrap .bp-navs.vertical ul li a {
	background: #3D629C;
	background: -moz-linear-gradient(left, #3D629C 0%, #2f4b77 100%);
	background: -webkit-linear-gradient(left, #3D629C 0%, #2f4b77 100%);
	background: linear-gradient(to right, #3D629C 0%, #2f4b77 100% 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3D629C', endColorstr='#2f4b77',GradientType=1 );
	opacity: 0.9;
}

.site-nav-horizontal .buddypress-wrap .bp-navs.vertical ul .selected a {
	background: #517abb;
	background: -moz-linear-gradient(top, #517abb 0%, #3d629c 100%);
	background: -webkit-linear-gradient(top, #517abb 0%, #3d629c 100%);
	background: linear-gradient(to bottom, #517abb 0%, #3d629c 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#517abb', endColorstr='#3d629c',GradientType=0 );
}

.site-nav-horizontal .buddypress-wrap.bp-single-vert-nav .item-body:not(#group-create-body) #subnav:not(.tabbed-links) {
	background: #3D629C;
	background: -moz-linear-gradient(left, #3D629C 0%, #2f4b77 100%);
	background: -webkit-linear-gradient(left, #3D629C 0%, #2f4b77 100%);
	background: linear-gradient(to right, #3D629C 0%, #2f4b77 100% 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3D629C', endColorstr='#2f4b77',GradientType=1 );
	margin-left: 0;
}

.site-nav-horizontal .buddypress-wrap.bp-single-vert-nav .item-body:not(#group-create-body) #subnav:not(.tabbed-links) li.selected a {
	color: #FF9751;
}

@media screen and (min-width: 46.8em) {
	.site-nav-horizontal .buddypress-wrap #subnav.tabbed-links li:not(.selected) {
		border: 0;
	}
	.site-nav-horizontal .buddypress-wrap #subnav.tabbed-links li:not(.selected) a {
		color: #767676;
	}
	.site-nav-horizontal .buddypress-wrap #subnav.tabbed-links li.selected a {
		color: #333;
	}
}

@media screen and (max-width: 46.8em) {
	.site-nav-horizontal .buddypress-wrap #subnav li a {
		color: #fff;
		opacity: 0.9;
	}
	.site-nav-horizontal .buddypress-wrap #subnav li.selected a,
	.site-nav-horizontal .buddypress-wrap #subnav li:focus a,
	.site-nav-horizontal .buddypress-wrap #subnav li:hover a {
		background: #517abb;
		background: -moz-linear-gradient(top, #517abb 0%, #3d629c 100%);
		background: -webkit-linear-gradient(top, #517abb 0%, #3d629c 100%);
		background: linear-gradient(to bottom, #517abb 0%, #3d629c 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#517abb', endColorstr='#3d629c',GradientType=0 );
	}
}

/*========================================
4. Footer Widgets
==========================================*/
.footer-widgets-wrap {
	background: #555;
	background: -moz-linear-gradient(top, #555 0%, #222222 100%);
	background: -webkit-linear-gradient(top, #555 0%, #222222 100%);
	background: linear-gradient(to bottom, #555 0%, #222222 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#555', endColorstr='#222222',GradientType=0 );
	border-bottom: 1px solid #333;
	border-top: 1px solid #333;
}

.footer-widgets-wrap .widget-area {
	background: #666;
	background: -moz-linear-gradient(top, #666 0%, #333333 100%);
	background: -webkit-linear-gradient(top, #666 0%, #333333 100%);
	background: linear-gradient(to bottom, #666 0%, #333333 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666', endColorstr='#333333',GradientType=0 );
	border: 1px solid #333;
}

.footer-widgets-wrap .widget-area .widget .widgettitle {
	color: #eaeaea;
}

.footer-widgets-wrap .widget-area .widget li {
	color: #fafafa;
}

/*========================================
5. Site Footer
==========================================*/
.site-footer {
	background: #1a1919;
}

.site-footer {
	color: #fafafa;
}

.site-footer a {
	color: #f6e7aa;
	opacity: 0.8;
}

.site-footer a:visited,
.site-footer a:hover,
.site-footer a:focus {
	opacity: 0.9;
}
