/*----------------------------------------------------
## Menus & post navigation
----------------------------------------------------*/

.menu-main-menu-container {
	border-radius: 0;

	ul,
	li,
	a {
		border-radius: 0;
	}
}

.main-navigation:not(.toggled) {
	clear: both;
	display: block;
	float: left;
	width: 100%;

	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;

		li {
			border-radius: 0;
			float: left;
			margin-right: 1em;
			position: relative;

			a {
				display: block;
				text-decoration: none;
			}
		}

		ul {
			background: #fff;
			border: 1px solid $bp-border-dark;
			box-shadow: 0 0 7px rgba($med-light-grey, 0.9);
			position: absolute;
			top: 0;
			left: -999em;
			opacity: 0;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				margin-right: 0;

				&:focus > ul,
				&:hover > ul
				&.focus > ul {
					left: 100%;
					opacity: 1;
				}
			}

			a,
			a:visited,
			a:active {
				color: $color__text-main;
			}

			a {
				padding: $pad-sml 0 $pad-sml $pad-sml;
				width: 200px;
			}

			:hover > a,
			.focus > a {
				color: $white;
				opacity: 1;
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
			opacity: 1;

			ul {
				left: 10px;
			}
		}
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/*
 Main menu horizontal option - elements adjustments
*/
.site-nav-horizontal {

	.nav-menu > li > a {

		@include font-size(18);
		padding: $pad-sml 0;
	}

	.main-navigation {

		ul {

			ul {
				top: 100%;

				li:hover > ul,
				li.focus > ul {
					left: 90%;

					ul {
						left: 10px;
					}
				}
			}
		}
	}
}

/*
Main menu vertical option - elements adjustments.
*/

.site-nav-vertical {

	@include medium-up() {

		.main-navigation:not(.toggled) {

			ul {

				li {
					margin: 0;
					padding: 0;
					float: none;

					a {
						padding: $pad-sml 0 $pad-sml $pad-sml;
					}

					&:hover > ul,
					&.focus > ul {
						left: 90%;

						@include xlarge-up() {
							left: 55%;
						}
						top: 2px;
					}

					a {

					}
				}
			}
		}
	}
}

/*
Small menu display.
*/
.site-nav-horizontal {

	.site-navs.main-navigation.mobile-menu {
		padding: 0;
	}
}

.main-navigation.mobile-menu {


	ul {
		height: 0;
		line-height: 0;
		font-size: 0;
		overflow: hidden;
		opacity: 0;
		transition: opacity .2s ease-in-out .1s;
	}

	.menu-toggle {
		border-left: 0;
		border-right: 0;
		border-radius: 0;

		span.menu-icon {
			padding: 0.2em 0.5em;
		}
	}
}

.main-navigation.toggled {

	ul {
		display: block;
		font-size: inherit;
		height: auto;
		line-height: inherit;
		list-style: none;
		margin: 0;
		opacity: 1;
		overflow: visible;
		padding: $pad-med 0 $pad-med $pad-sml;
	}
}


@include medium-up() {

	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		display: block;
	}
}


/*
Post next/prev nav & archives pagination.
*/

@include clearfix-element(".post-navigation");

.comment-navigation,
.posts-navigation,
.post-navigation {
		margin: 0 0 1.5em;
		overflow: hidden;
}

.post-navigation {

	&.bottom {
		padding-top: 2em;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

.meta-bar {

	.post-navigation {

		padding: 0 $pad-sml;

		@include large-up() {
			padding: 0;
		}

		.nav-previous,
		.nav-next {
			@include font-size(14)
			width: auto;
		}
	}
}

.paginate-loop {

	ul {
		list-style: none;
		margin: $marg-lrg 0 $marg-sml;
		text-align: center;

		li {
			display: inline-block;

			a {
				padding: 0 $pad-sml;
				text-decoration: none;

				&.focus,
				&:hover {
					background: $golden;
					color: $white;
				}
			}
			.current {
				text-decoration: underline;
			}
		}
	}
}

