input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: $color__text-input;
	border: 1px solid $color__border-input;
	border-radius: 3px;
	padding: 3px;

	&:focus {
		color: $color__text-input-focus;
	}
}

select {
	border: 1px solid $color__border-input;
}

textarea {
	width: 100%;
}

// Manage browser html5 default required states.

// FF causes issues with this by assuming any empty
// field  with type 'required' is 'invalid' and styles.

#site-wrap {

	form {

		// Manage browser pseudo class validation states
		input,
		textarea,
		select {

			&[required] {

				// FF adds red shadow on password inputs, remove!
				box-shadow: none;
				border-width: 1px;

				// IE Edge uses outline for invalid controls, remove
				outline: 0;

				// Sadly this does mean all inputs are considered to be
				// invalid from page load & bordered.
				&:invalid {
					border-color: $warn;
				}

				&:valid {
					border-color: $valid;
					border-width: 2px;
				}

				&:focus {
					border-color: $form-border-color;
					border-width: 1px;
				}
			}

			// Class set when BP global signup errors exist.
			// This needs to be stated after the  pseudo :valid
			// as technically the input has a valid value.
			&.invalid[required] {
				border-color: $warn;
			}
		}

	}
}
