
// Site search form

.site-search {

	.site-search-form {
		border: 1px solid $form-border-color;
		display: inline-block;
		line-height: 1;
	}

	label {

	}

	input[type="search"] {
		border: 0;
	}

	button {
		border-color: transparent;
		border-radius: 0;
		padding: 0.6em 1em;
		vertical-align: middle;

		span.fa {

			@include font-size(20);
		}
	}

	&.wide {

		.site-search-form {

			@include flex-box-dir($flex-dir: "row", $flex-wrap: "nowrap" );
			@include flex-align();


			input[type="search"],
			button[type="submit"] {
			}

			input[type="search"] {

				@include box-item-size($basis: 90%);
			}

			button[type="submit"] {

				@include box-item-size($basis: 10%);
			}
		}
	}
}
