/*
Primary header elements
*/

.site-header {

	// header background element '.header-background' available only if
	// custom header is set and progenitor option
	// use as background is selected.

		.custom-logo-link {
			display: block;

			img {
				margin: 0;
			}
		}
	/*
	Manage elements if background image set &
	use as background selected to render the background wrapper element
	*/
	.header-background {

		.custom-logo-link {
			width: 20%;
		}
	}

	.custom-logo-link,
	.custom-logo-link img {
		display: block;
	}

	//set custom widths - outside .header-background so available if logo only selected
	.custom-logo-link {

		&.width-20 {
			width: 20%;
		}
		&.width-25 {
			width: 25%;
		}
		&.width-30 {
			width: 30%;
		}
		&.width-35 {
			width: 35%;
		}
		&.width-40 {
			width: 40%;
		}
		&.width-45 {
			width: 45%;
		}
		&.width-50 {
			width: 50%;
		}
		&.width-100 {
			width: 100%;
		}

	}
}

// If vertical nav menu selected user can select a width for custom logo
// this benefits the layout when header area breaks to the top column full width;
// however when at medium up width the header is a left vert column, width narrow.
// In the vert nav it's best to display custom logo full width '100%'.
// The ruleset is delibretely over specified to ensure previous widths reset/overloaded.

@include medium-up() {
	.site-nav-vertical {

		.site-branding {

			.custom-logo-link {
				width: 100%;
			}
		}
	}
}
