// Widgets - general
// Layout styles for general widget elements in footers/sidebars

.widget-area {

	.widget {

		ul {
			margin-left: 0;
			padding-left: 0;
			list-style-position: inside;
		}
	}
}

// Widget specific styles

// BP Widgets
.widget_bp_groups_widget,
.widget_bp_blogs_widget {

	.item-options,
	.item-list {

		@include font-size(13);
	}

	ul {
		list-style: none;
		padding: 0;
	}
}
