// Widgets - general
// Layout styles for general widget elements in footers/sidebars

.widget {


	ul {
		margin-left: 0;
		padding-left: 0;
		list-style-position: inside;

//		li {

//		}
	}
}

// Widget specific styles

// BP groups
.widget_bp_groups_widget {

	ul {
		list-style: none;
	}
}
