/*
Site post lists layouts - as boxes
*/

// 1. Generic rules grid selected
// 2. Home page grid adjustment

.post-list-grid { // if grid is selected (body class)

	&.archive,
	&.category,
	&.blog,
	&.search {

		.box-align {

			@include flex-box-dir($flex-dir: column);

			@include medium-up() {

				@include flex-box-dir($flex-dir: row, $flex-wrap: wrap);
			}

			justify-content: space-between;

			@include large-up() {

				justify-content: flex-start; // default to reset.
			}

			margin: 0 -#{$pad-sml};

			.box {

				@include flex-align();

				@include box-item-size($grow: 1, $basis: 50%);

				@include large-up() {

					@include box-item-size($grow: 0, $basis: 20%);
				}

				article.post {
					border: 1px solid $bp-border-dark;
					margin: 0 $pad-sml $pad-sml;
					padding: $pad-sml;

					.featured-image {

						img {
							max-width: 100%;
							width: 100%;
						}
					}
				}
			}

			article.post {

				@include box-shadow(0 0 5px 0 $light-box-shadow);

				.entry-title {

					@include font-size(22);

					@include large-up() {

						@include font-size(18);
					}
					margin: 0 0 $marg-sml;
				}

				.entry-content {

					@include font-size(14);
					-webkit-hyphens: auto;
					-moz-hyphens: auto;
					-ms-hyphens: auto;
					hyphens: auto;
					margin-top: 0;
					word-break: break-word;
				}

				.entry-content p {
					margin: 0 0 $marg-sml;
				}

				.entry-footer {
					@include font-size(12);
				}
			}
		} // close main.site-main
	}
}

// The front page loop layout
.home-page.post-list-grid {

		.box-align {

			.box {
				margin-bottom: $marg-med;

				@include large-up() {

					@include box-item-size($grow: 0, $basis: 33.3%);
					article {height: 100%;}
				}

				&.sticky-post {
						@include box-item-size($grow: 1, $basis: auto);
				}
			}
		}
}

// The static page displaying blog posts index i.e 'blog'

.blog {

	.box-align {

		.box.post-sticky-box {
			padding: 0 0 $pad-lrg;

			@include box-item-size($grow: 1, $basis: 100%);
		}
	}
}
