.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.wp-single {

	.meta-bar {

		.entry-meta {

			@include	font-size(12);
			padding: $pad-sml 0;
		}

		.entry-title {
			padding: $pad-sml 0;

			a {
				text-decoration: none;
			}
		}
	}

	.entry-meta,
	.entry-footer {

		@include font-size(12);
	}

	.entry-footer {
		margin-bottom: $marg-med;
	}
}


.post,
.page {

	.entry-content:not(.bp-entry-content) {

		@include font-size(18);
	}

	blockquote {
		border-left: 1px solid $light-grey;
		background: $off-white;

		@include font-size(16);
		padding: $pad-sml $pad-med;

		p {
			margin: $marg-sml 0;
		}
	}

	img {
		margin-bottom: $marg-sml;
	}
}

@include large-up() {

.wp-single:not(.buddypress) {

		article.post,
		article.page,
		.post-navigation,
		.comments-area {
				@include content-max-width();
			}
	}
}

.page-header {
	text-align: left;

	.page-title {
		padding-left: $pad-sml;
	}

	.archive-description {
		padding-left: $pad-med;

		p {
			margin: 0;
			padding: $pad-sml 0;
		}
	}

	@include large-up() {

		.page-title,
		.archive-description {
			display: inline-block;
		}

		.archive-description {

			p {
				padding: 0;
			}
		}
	}
}

// 404 & search pages

.error404,
.search {

	.page-content {

		.site-search-form {
			margin-bottom: $pad-lrg;
		}
	}
}

// Suggested content block

.suggested-content {

	@include build-flex-layout($dir: column);

	@include medium-up() {
		@include build-flex-layout($row-wrap: wrap, $basis: 33.3%, $grow: 1);
	}

	.box {

		padding: 0 $pad-med;

	.widget {

		.widget-title,
		.widgettitle {
			margin-top: 0;
		}

		> ul {
			margin-left: 0;
			padding-left: 0;

			li {
				margin-left: 20px;
			}
		}
	}


	}
}
