.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.post {

	.entry-title {

		a {
			text-decoration: none;
		}
	}

	.entry-meta,
	.entry-footer {

		@include font-size(12);
	}
}

.post,
.page {

	blockquote {
		border-left: 1px solid $light-grey;
		background: $off-white;
		padding: $pad-sml $pad-med;

		p {
			margin: $marg-sml 0;
		}
	}
}

@include large-up() {

	article {
		&.post,
		&.page {
			margin: 0 auto;
			max-width: 56em;
		}
	}
}

.page-header {
	text-align: left;

	.page-title {
		padding-left: $pad-sml;
	}

	.archive-description {
		padding-left: $pad-med;

		p {
			margin: 0;
			padding: $pad-sml 0;
		}
	}

	@include large-up() {

		.page-title,
		.archive-description {
			display: inline-block;
		}

		.archive-description {
			p {
				padding: 0;
			}
		}
	}
}
